In [7]:
import pandas as pd
import xarray as xr

In [24]:
data_path = 'data/sst1.cdf'

In [25]:
def load_nautic_df(path):
    try:
        ds = xr.open_dataset(path)
    except:
        ds = xr.open_dataset(path, decode_times=False)
    df = ds.to_dataframe()
    return df

In [31]:
df = load_nautic_df(data_path)
df = df.reset_index()
df

     depth  lat    lon                time       T_20  QT_5020  ST_6020
0      0.0 -2.0  265.0 2018-01-01 12:00:00  21.726934      1.0      5.0
1      0.0 -2.0  265.0 2018-01-02 12:00:00  21.908794      1.0      5.0
2      0.0 -2.0  265.0 2018-01-03 12:00:00  21.714407      1.0      5.0
3      0.0 -2.0  265.0 2018-01-04 12:00:00  21.667702      1.0      5.0
4      0.0 -2.0  265.0 2018-01-05 12:00:00  21.641754      1.0      5.0
..     ...  ...    ...                 ...        ...      ...      ...
309    0.0 -2.0  265.0 2018-11-06 12:00:00  23.252274      2.0      1.0
310    0.0 -2.0  265.0 2018-11-07 12:00:00  23.307045      2.0      1.0
311    0.0 -2.0  265.0 2018-11-08 12:00:00  23.375366      2.0      1.0
312    0.0 -2.0  265.0 2018-11-09 12:00:00  23.396191      2.0      1.0
313    0.0 -2.0  265.0 2018-11-10 12:00:00  23.352537      2.0      1.0

[314 rows x 7 columns]

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314 entries, 0 to 313
Data columns (total 7 columns):
depth      314 non-null float64
lat        314 non-null float64
lon        314 non-null float64
time       314 non-null datetime64[ns]
T_20       314 non-null float32
QT_5020    314 non-null float32
ST_6020    314 non-null float32
dtypes: datetime64[ns](1), float32(3), float64(3)
memory usage: 13.6 KB

In [30]:
df['QT_5020'].unique()

array([1., 2.])

In [32]:
df['ST_6020'].unique()

array([5., 1.])

In [17]:
len(df)

144240

In [41]:
df.T_20.isnull().sum()

0